.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Adjust margin as per your preference */
    box-sizing: border-box;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid green;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .form {
   
    display: flex;
    flex-direction: column;
    max-width: 80%;
    border: 1px solid #045757;
    padding: 15px;
    border-radius: 10px;
    background-color: #045757;
    box-sizing: border-box;
    margin-top: 0.8rem;
  }
  
  @media screen and (min-width: 850px) {
    .form {
      flex-direction: row; /* Change to row layout for wider screens */
      align-items: center; /* Align items horizontally */
      padding-right: 1rem;
     
    }
  
    .input {
      width: 50%; /* Adjust width for wider screens */
      margin-right: 10px; /* Add space between input fields */
      margin-bottom: 0; /* Remove bottom margin to align with button */
    }
  
    .button {
      width: auto; /* Allow button to shrink to fit content */
    }
  }
  
               
          .table {
            overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
            border: 1px solid #045757;
            border-radius: 5px;
            margin-top:1rem
          }
          
          table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-top: 1rem;
          }
          
          thead th,
          tbody td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            text-align: left;
          }
          
          thead th {
            background-color: #f2f2f2;
            font-weight: bold;
          }
          
          tbody tr:nth-child(even) {
            background-color: #f2f2f2;
          }
          
          tbody td {
            vertical-align: top;
          }
          
          button {
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            background-color: green;
            color: #fff;
            cursor: pointer;
          }
          
          button:hover {
            background-color: green;
          }
          